<!DOCTYPE html>
<html lang="zh-tw" style="width:100vw">

<head>
    <title>爵士音樂節 獎品兌換券</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>   
    <meta name="apple-mobile-web-app-capable" content="yes" />   
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico"/>
    <link rel="stylesheet" href="/assets/css/coupons.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>    
    <header>
        <nav id='main_nav'>
        我的獎品兌換券
        </nav>
    </header>

    <div id='main_list_view'>
        <ul id='coupons_list'>
            <% var couponDiv; %>
            <% var imgTag; %>
            <% for (var i = 0; i < list.length; i++) { %>
            <% couponDiv = "<div class='coupon' type='" + list[i].used + "'>" ; %>
            <% imgTag = "<img class='pic' src='" + list[i].picSrc + "'/>" ; %>
            <li><%- couponDiv %><%- imgTag %><div class='info'><p class='name'><%- list[i].name %></p><p class='amount'>乙個</p><div class='feet'><p class='sponser'><%- "此獎品由 " + list[i].sponsor + " 贊助提供" %></p><p class='availible_time'>只限在【2017 臺中爵士音樂節 低碳城市 - 綺響花園 Jazz Green Land】兌換</p></div></div><div class='status'><div class='top circle'></div><div class='bottom circle'></div><%- ( list[i].used? "免<br/>費<br/>兌<br/>換":"已<br/>兌<br/>換") %></div></div></li>
            <% } %>
            <li><div class='coupon' type='unused'><img class='pic' src='/assets/icon/prize.png'/><div class='info'><p class='name'>Ball 12Oz 窄口梅森罐</p><p class='amount'>1個</p><div class='feet'><p class='sponser'>此獎品由 好合器 贊助提供</p><p class='availible_time'>2017/10/15 10:22前有效</p></div></div><div class='status'><div class='top circle'></div><div class='bottom circle'></div>免<br/>費<br/>兌<br/>換</div></div></li>
            <li><div class='coupon' type='used'><img class='pic' src='/assets/icon/prize.png'/><div class='info'><p class='name'>Ball 12Oz 窄口梅森罐</p><p class='amount'>1個</p><div class='feet'><p class='sponser'>此獎品由 好合器 贊助提供</p><p class='availible_time'>2017/10/15 10:22前有效</p></div></div><div class='status'><div class='top circle'></div><div class='bottom circle'></div>已<br/>兌<br/>換</div></div></li>
            <li><div class='coupon' type='used'><img class='pic' src='/assets/icon/prize.png'/><div class='info'><p class='name'>Ball 12Oz 窄口梅森罐</p><p class='amount'>1個</p><div class='feet'><p class='sponser'>此獎品由 好合器 贊助提供</p><p class='availible_time'>2017/10/15 10:22前有效</p></div></div><div class='status'><div class='top circle'></div><div class='bottom circle'></div>已<br/>兌<br/>換</div></div></li>
            <li><div class='coupon' type='used'><img class='pic' src='/assets/icon/prize.png'/><div class='info'><p class='name'>Ball 12Oz 窄口梅森罐</p><p class='amount'>1個</p><div class='feet'><p class='sponser'>此獎品由 好合器 贊助提供</p><p class='availible_time'>2017/10/15 10:22前有效</p></div></div><div class='status'><div class='top circle'></div><div class='bottom circle'></div>已<br/>兌<br/>換</div></div></li>
            <li><div class='coupon' type='used'><img class='pic' src='/assets/icon/prize.png'/><div class='info'><p class='name'>Ball 12Oz 窄口梅森罐</p><p class='amount'>1個</p><div class='feet'><p class='sponser'>此獎品由 好合器 贊助提供</p><p class='availible_time'>2017/10/15 10:22前有效</p></div></div><div class='status'><div class='top circle'></div><div class='bottom circle'></div>已<br/>兌<br/>換</div></div></li>
            <li><div class='coupon' type='used'><img class='pic' src='/assets/icon/prize.png'/><div class='info'><p class='name'>Ball 12Oz 窄口梅森罐</p><p class='amount'>1個</p><div class='feet'><p class='sponser'>此獎品由 好合器 贊助提供</p><p class='availible_time'>2017/10/15 10:22前有效</p></div></div><div class='status'><div class='top circle'></div><div class='bottom circle'></div>已<br/>兌<br/>換</div></div></li>

        </ul>
    </div>
</body>
</html>