<!DOCTYPE html>
<html>
    <head>
        <title>我們的環境貢獻</title>
        <meta content="text/html" http-equiv="Content-Type"; charset="utf8">
        <link href="/assets/css/reduce.css" rel="stylesheet" type="text/css" id="css_style"/>        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="top">
            <div id="top_text">
                <img src="/assets/icon/reuse_icon.png" alt="recycle" title="recycle image" id='reuse_icon'/>
                <p id="amount"><%- reduce %></p><p id="afterAmount"> 你減少了，<br/>克的碳排放</p>
            </div>
        </div>

        <div class="middle">
            <div id='info'>
            <p id='title_used'>使用了</p>
            <hr/>
            <p id="wood_text"><span id="wood">提袋</span><%- bag + "個" %><br/></p>      
            <hr/>     
            <p id="water_text"><span id="water">容器</span><%- container + "個" %><br/></p>
            <hr/>
            <p id="carbon_text"><span id="carbon">餐具</span><%- tableware + "個" %><br/></p>
            </div>
        </div>
        <hr />
        <div class="bottom"> 
            <p id="bottom_text">我們一起減少了 <span id="total_amount"><%- allReduce %></span> 克的碳排放</p>
        </div>
        
    </body>

</html>