<!DOCTYPE html>
<html>
    <head>
        <title>我們的環境貢獻</title>
        <meta content="text/html" http-equiv="Content-Type"; charset="utf8">
        <link href="/assets/css/reduce.css" rel="stylesheet" type="text/css" id="css_style"/>        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="top">
            <div id="top_text">
<<<<<<< HEAD
                <!-- <img src="/assets/icon/co2_icon.png" alt="recycle" title="recycle image" id='reuse_icon'/> -->
                <p id="first_line">我們在爵士音樂節一起減少了，<br/><img src="/assets/icon/co2_icon.png" alt="recycle" title="recycle image" id='co2_icon'/><span id="amount"><%- reduce %></span><span id="kg">公斤</span>的碳排放量</p>
=======
                <p id="beforeAmount"> 我們在爵士音樂節一起減少了，</p>
                <img src="/assets/icon/reuse_icon.png" alt="recycle" title="recycle image" id='reuse_icon'/>
                <p id="amount"><%- allReduce %></p><p id="unit">公斤</p><p id="afterAmount">的碳排放量</p>
>>>>>>> 3d0ae7770b55a1a1336546ea530af80740ecdbc8
            </div>
        </div>

        <div class="middle">
            <div id='info'>
            <p id='title_used'>你已減少使用了</p>
            <hr/>
<<<<<<< HEAD
            <p id="wood_text"><span id="wood">一次性容器</span><%- bag + "個" %><br/></p>      
            <hr/>     
            <p id="water_text"><span id="water">一次性餐具</span><%- container + "個" %><br/></p>
            <hr/>
            <p id="carbon_text"><span id="carbon">一次性塑膠袋</span><%- tableware + "個" %><br/></p>
=======
            <p id="water_text"><span id="water">一次性容器</span><%- container + "個" %><br/></p>
            <hr/>
            <p id="carbon_text"><span id="carbon">一次性餐具</span><%- tableware + "個" %><br/></p>
            <hr/>
            <p id="wood_text"><span id="wood">一次性塑膠袋</span><%- bag + "個" %><br/></p>
>>>>>>> 3d0ae7770b55a1a1336546ea530af80740ecdbc8
            </div>
        </div>
        <hr />
        <div class="bottom"> 
<<<<<<< HEAD
            <p id="bottom_text">你累積達成了 <span id="total_amount"><%- allReduce %></span> <span id="g">克</span>的碳排放</p>
=======
            <p id="bottom_text">你累積達成了<span id="total_amount"><%- reduce %></span> 克的碳減量</p>
>>>>>>> 3d0ae7770b55a1a1336546ea530af80740ecdbc8
        </div>
        
    </body>

</html>