<%- include ./header.ejs %>
    <header>
        <nav id="main_nav">
                <div id='cssmenu'>
                        <ul>
                            <li><a href='/img'>審核</a>
                            </li>
                            <li><a href='/checkedList'>記錄</a>
                            </li>
                            <li class='active'><a>中獎</a>
                            </li>
                            <li><a href='/chatroom'>對話</a>
                            </li>
                        </ul>
                </div>
                <b id="goodtogo">LINE BOT 後台</b>
        </nav>
    </header>

    <div id='lottery_record_page'>
        <div id='filter'>
        <fieldset>
            <legend style="color:#888; border-radius: 5px;">查詢</legend>
            <div>日期:
            <select id='dates'>
                <% var optionDatesTag; %>
                <% for (var i = 0; i < dateArr.length; i++){ %>
                <% optionDatesTag = "<option value='" + dateArr[i] + "'>10/" + dateArr + "</option>"; %>
                <%- optionDatesTag %>
                <% } %>
            </select>
            </div>
            <div>獎項: 
            <select id='prize'>
                <% var optionPrizeTag; %>
                <% for (var i = 0; i < prizeArr.length; i++){ %>
                <% optionPrizeTag = "<option value='" + prizeArr[i].type + "'>" + prizeArr[i].name + "</option>"; %>
                <%- optionPrizeTag %>
                <% } %>
            </select>
            </div>
        </fieldset>
        </div>
        <div id='current_state'>
            <div id='total_num_title'>獎品總量  <p id='total_num'>12 </p>個</div>
            <div id='total_winner_title'>中獎者總量<p id='total_winner'>3 </p>人</div>
            <div id='used_title'>已兌換人數<p id='used'>2 </p>人</div>
            <div id='other_information'>
            <div id='delivered_amount_title'>已發放總量: <p id='delivered_amount'>2 </p>張</div>
            <div id='rate_title'>目前中獎率: <p id='rate'>2 </p>%</div></div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>中獎人</th>
                    <th>序號</th>
                    <th>中獎時間</th>
                    <th>兌換時間</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

    </div>
    <script>
        document.body.style.overflowY = 'auto';
        document.title += " - 中獎紀錄";

        var prizeArr = <%- JSON.stringify(prizeArr) %>;
        var resultList = <%- JSON.stringify(resultList) %>;

        var list = {};
        var info = {};

        for (var i = 0 ; i < prizeArr.length ; i++) {
            var data = prizeArr[i];
            var type = data.type;

            info[type] = data;
            list[type] = [];
        }

        for (var i = 0 ; i < resultList.length ; i++) {
            let data = resultList[i];
            var type = data.type;

            list[type].push(data);

        }

        function custom_date(date) {
            var month = date.getMonth();
            var d = intReLength(date.getDate(), 2);
            var hour = intReLength(date.getHours(), 2);
            var minute = intReLength(date.getMinutes(), 2);

            return ((month + 1) + '/' + d + ' ' + hour + ':' + minute);
        }

        function load_info(date) {
            if (date == new Date().getDate()) {
                document.getElementById('current_state').style.display = 'inline-block';
            } else {
                document.getElementById('current_state').style.display = 'none';
                return;
            }

            let data = info[document.getElementById('prize').value];

            var amount = data.amount;
            var winner = data.gotPrizeAmount;
            var redeemed = data.exchangedAmount;

            var delivered = data.giveoutAmount;
            var odds = data.odds;

            document.getElementById('total_num').innerHTML = amount;
            document.getElementById('total_winner').innerHTML = winner;
            document.getElementById('used').innerHTML = redeemed;
            document.getElementById('delivered_amount').innerHTML = delivered;
            document.getElementById('rate').innerHTML = odds;
        }

        function load_list(value) {
            var table = document.getElementsByTagName('tbody')[0];
            var date = document.getElementById('dates').value;

            while (table.firstChild) {
                table.removeChild(table.firstChild);
            }

            for (var i = 0 ; i < list[value].length ; i++ ){
                let data = list[value][i];

                if (date != new Date(data.logTime).getDate()) {
                    continue;
                }

                var name = data.name;
                var id = data.id;

                var winTime = custom_date(new Date(data.logTime));
                var redeemedTime = custom_date(new Date(data.exchangedTime));

                if (data.exchangedTime == undefined) 
                    redeemedTime = '尚未兌換';

                var new_row = document.createElement('tr');

                var new_name = document.createElement('td');
                var new_id = document.createElement('td');
                var new_wt = document.createElement('td');
                var new_rt = document.createElement('td');

                new_name.innerHTML = name;
                new_id.innerHTML = id;
                new_wt.innerHTML = winTime;
                new_rt.innerHTML = redeemedTime;

                new_row.appendChild(new_name);
                new_row.appendChild(new_id);
                new_row.appendChild(new_wt);
                new_row.appendChild(new_rt);

                table.appendChild(new_row);
            }

            if (!table.firstChild) {
                var empty_tr = document.createElement('tr');
                
                var td = document.createElement('td');
                td.innerHTML = '尚無資料';
                td.setAttribute('colspan', '4');
                td.style = 'border-bottom: 0px; color: #888; font-size: 120%;';
                empty_tr.appendChild(td);

                table.appendChild(empty_tr);
            }
        }

        load_info(document.getElementById('dates').value);
        load_list(document.getElementById('prize').value);

        $('#dates').on('change', function(){
            load_info(this.value);
            load_list(document.getElementById('prize').value);
        });

        $('#prize').on('change', function(){
            load_info(document.getElementById('dates').value)
            load_list(this.value);            
        });

    </script>
    
<%- include ./footer.ejs %>